numpy==1.19.1
flake8==3.8.3
pipreqs==0.4.10
inquirer==2.7.0
typed_ast==1.4.1
zipp==3.1.0
regex==2017.4.5
importlib_metadata==1.6.1
cryptography==2.9.2
pytest==6.0.1
brotli==1.0.7
Cython==0.29.21
ipaddr==2.2.0
keyring==21.3.0
lockfile==0.12.2
lxml==4.5.2
mypy_extensions==0.4.3
ordereddict==1.1
pip_api==0.0.14
protobuf==3.13.0
pyenchant==3.1.1
pylama==7.7.1
pyOpenSSL==19.1.0
requirementslib==1.5.13
wincertstore==0.2
